@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap");

:root {
    --clr-prime: #003c5e;
    --clr-second: #1a2028;
    --clr-accent: #8fb500;
    --clr-font-prime: #5b8ead;
    --clr-font-second: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 1.25em;
    padding: 1em;
    background-color: var(--clr-second);
    font-family: "Spectral", sans-serif;
    color: var(--clr-font-prime);
}
header {
    color: var(--clr-font-prime);
    margin-bottom: 1.25em;
}
.flex {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    border: 7px groove var(--clr-accent);
    background-color: white;
    gap: 2rem;
    margin: auto;
    padding: 1rem;
}
button {
    width: 75px;
}
