@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap");

:root {
    --clr-prime: #003c5e;
    --clr-second: #1a2028;
    --clr-accent: #8fb500;
    --clr-font-prime: white;
    --clr-font-second: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 1.25em;
    padding: 1em;
    background-color: var(--clr-second);
    font-family: "Spectral", sans-serif;
    color: #5b8ead;
}
header {
    background-color: #003c5e;
    color: white;
}
