@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 1.5em;
    padding: 1em;
    background-color: #ffffff;
    font-family: "Spectral", sans-serif;
    color: #5b8ead;
}
header {
    margin: 0;
    background-color: #003c5e;
    color: white;
}
