@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap");

:root {
    --clr-prime: #003c5e;
    --clr-second: #1a2028;
    --clr-accent: #8fb500;
    --clr-font-prime: #5b8ead;
    --clr-font-second: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 1.25em;
    padding: 1em;
    background-color: var(--clr-second);
    font-family: "Spectral", sans-serif;
    color: var(--clr-font-prime);
}
header {
    color: var(--clr-font-prime);
    margin-bottom: 1.25em;
}
.main {
    display: flex;
    flex-direction: column;
    flex-basis: ;
    width: 600px;
    border: 5px solid var(--clr-accent);
    background-color: white;
    gap: 2rem;
    justify-content: center;
}
form {
}
